/* Sticky footer styles  */
html {
    height: 100%;
    min-height: 100%;
    position: relative;
    //@footer-height: 111px; defined in variables.less
    body {
        position: relative;
        box-sizing: border-box;
        /* Margin bottom by footer height */
        padding-bottom: @footer-height;
        /* materialize fix */
        height: auto;
        min-height: inherit;
        &.no-footer {
            padding-bottom: 0;
            #footer {
                display: none;
            }
        }
    }
    #wrap {
        position: relative;
    }
    #footer {
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer */
        height: @footer-height;
    }
}
